.image_div {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: url("https://i.ytimg.com/vi/18vr4oiwO7c/maxresdefault.jpg");
    background-position: 50% 50%;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.video_div {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #434343;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

._50_square {
    position: relative;
    width: 50vh;
    height: 50vh;
    max-width: 100%;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-perspective: 0px;
    perspective: 0px;
    -webkit-transform: perspective(1176px) rotateY(0deg) perspective(1000px)
  perspective(2000px);
    transform: perspective(1176px) rotateY(0deg) perspective(1000px)
  perspective(2000px);
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
    transform-style: preserve-3d;
}

.blockbasic_card_rotate {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video_frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

/* animation */
.squareclick {
    transform: perspective(1000px) rotateY(-180deg) perspective(2000px);
}

.video_bear {
    width: 100%;
    height: 100%;
}
